// Futura
@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/Futura/Futura-Bold.ttf');
    src: url('../fonts/Futura/Futura-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Futura-Medium';
    src: url('../fonts/Futura/Futura-Medium.ttf');
    src: url('../fonts/Futura/Futura-Medium.ttf') format('truetype');
}

// Roboto
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}