@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,900&display=swap');
// Souse Color Palette
$primaryColorAlt: rgb(221, 174, 170);
$secondaryColor: rgb(196, 87, 88);
$primaryColor: rgb(228, 209, 209);
$white: rgb(255, 255, 255);
$softBlack: rgb(39, 39, 39);
$black: rgb(0, 0, 0);

body {
    display: table;
    width: 100%;
    height: auto;
    background: no-repeat bottom center scroll;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: $softBlack;
}

span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
}

.container-fluid.entireProjectContainer {
    padding-right: 0px;
    padding-left: 0px;
}

.card.entireProjectCard {
    height: 62.5vw;
    color: $softBlack;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.fixed-action-btn { 
    position: initial;
}

.postsArea {
    max-width: auto;
    max-height: 30%;
    border: 1px solid gray;

    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.postsArea::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
}

// Navbar
/* ---------------------------------------------------- */
nav {
    background-color: $primaryColor;
    box-shadow: none;
}

nav ul a {
    color: $secondaryColor;
}

.sidenav {
    background-color: $primaryColor;
    color: $secondaryColor;
}

.sidenav li>a {
    color: $secondaryColor;
}

.input-field .prefix {
    color: $secondaryColor;
}

.input-field .prefix.active {
    color: $primaryColorAlt;
}

a:not([href]):not([tabindex]) {
    color: $secondaryColor;
    text-decoration: none;
}
/* ---------------------------------------------------- */

.souseFooter {
    color: $secondaryColor;
}
// User Profile Page
/* ---------------------------------------------------- */
.userProfileUserInfoUL {
    padding: 0;
    list-style: none;
    display: inline-flex;
    text-align: center;
}

.userProfileUserInfoLI {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

.bioOption.selected,
.postsOption.selected {
    color: $white;
}

.bioOption,
.postsOption {
    color: $secondaryColor;
    font-weight: 600;
}

.userProfileUserInfoLink {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: relative;
}

.userProfileUserInfoLink:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.userProfileUserInfoLink:hover:after {
    width: 100%;
    left: 0;
}
/* ---------------------------------------------------- */

// Post Page (postGrid)
/* ---------------------------------------------------- */
.userData {
    font-size: 1em; // 10px
    font-weight: bold;
    color: $white;

}

.userNameData {
    color: $white;
    font-size: 1em; // 10px
}
.sousePostCreatorName {
    font-weight: 800;
    color: $secondaryColor;
}

.locationData {
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    font-size: 0.75em;
}

.followData {
    font-weight: bold;
    color: $white;
    font-size: 0.75em;
}

.commentsHeader {
    color: $secondaryColor
}

.profileImageRow,
.userData,
.locationData,
.followData {
    margin-bottom: 0px !important;
}

.souseCommentsCaption {
    font-size: 0.7em;
}

.commentTime {
    font-size: 0.6em;
}

.souseCommentsLinkFont {
    font-weight: 800;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

// Edit Post
/* ---------------------------------------------------- */
.materialize-textarea.editText {
    height: 22rem;
}
.sousePostImage.editPost {
    object-fit: cover;
    width: 23vw;
    height: 23vw;
}

/* ---------------------------------------------------- */


// Comments Section
/* ---------------------------------------------------- */
.souseCommentRow {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
}

.pre-scrollable {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.commentTime,
.replyLink {
    font-size: 0.7em;
}

#modal1 {
    height: 15%;
    width: 25%;
    top: 50% !important;
}

.modal .modal-footer {
    background-color: $white;
}

.modal-footer> :not(:last-child) {
    margin-right: 0rem;
}

.modal-content {
    border: 0px;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.z-depth-1:hover,
nav:hover,
.card-panel:hover,
.card:hover,
.toast:hover,
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover,
.dropdown-content:hover,
.collapsible:hover,
.sidenav:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.commentDataColumn {
    padding-left: 0.5rem;
}

/* ---------------------------------------------------- */

// Image Format
/* ---------------------------------------------------- */
.sousePostImage {
    //Img Tag
    object-fit: cover;
    width: 43vw;
    height: 43vw;
}

.img-wrapper {
    position: relative;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 70%;
}

.souseUserIcon {
    border-radius: 50%;
    height: 7.1vw;
    width: 7.1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.souseUserPostsUserHomePage {
    object-fit: cover;
    width: 15vw;
    height: 15vw;
}

.souseUserPostsUserHomePage:hover {
    border: 1px solid $secondaryColor;
}

.souseUserIconUserHomePage.followIcons {
    height: 8vw;
    width: 8vw;
}

.souseUserIconComments,
.souseUserIconPost {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------------------------------------------- */

// Buttons
/* ---------------------------------------------------- */

.btn-large,
.btn-small,
.btn-large:visited,
.btn-large:active,
.btn-large:focus,
.btn-small:visited,
.btn-small:active,
.btn-small:focus {
    background-color: $secondaryColor;
}

.btn-large:hover {
    background-color: $primaryColorAlt;
}

.buttonFont {
    text-transform: uppercase;
    font-size: 0.696em; //10px
}

/* ---------------------------------------------------- */

// Links
/* ---------------------------------------------------- */

a:link,
a:visited,
a:hover,
a:active {
    color: $secondaryColor;
    text-decoration: none;
}

a.profileNameLink:link,
a.profileNameLink:visited,
a.profileNameLink:hover,
a.profileNameLink:active {
    color: $white;
    font-weight: 300;
    font-size: 1.4em;
}

/* ---------------------------------------------------- */

// Forms
/* ---------------------------------------------------- */

/* label focus color */

.input-field input:focus+label {
    color: $secondaryColor !important;
}

/* label underline focus color */

.row .input-field input:focus {
    border-bottom: 1px solid $secondaryColor !important;
    box-shadow: 0 1px 0 0 $secondaryColor !important
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {

    // Focused input style
    &:focus:not([readonly]) {
        border-bottom: 1px solid $secondaryColor;
        box-shadow: 0 1px 0 0 $secondaryColor;
    }

    // Focused label style
    &:focus:not([readonly])+label {
        color: $secondaryColor;
    }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

/* ---------------------------------------------------- */
// Bootstrap Button (Modal)
/* ---------------------------------------------------- */
.btn-modalButton {
    color: $secondaryColor;
    background-color: $white;
    border-color: $white;
}

.btn-modalButton:hover,
.btn-modalButton:focus,
.btn-modalButton:active,
.btn-modalButton.active,
.open .dropdown-toggle.btn-modalButton {
    color: $secondaryColor;
    background-color: $white;
    border-color: $white;
}

.btn-modalButton:active,
.btn-modalButton.active,
.open .dropdown-toggle.btn-modalButton {
    background-image: none;
}

.btn-modalButton.disabled,
.btn-modalButton[disabled],
fieldset[disabled] .btn-modalButton,
.btn-modalButton.disabled:hover,
.btn-modalButton[disabled]:hover,
fieldset[disabled] .btn-modalButton:hover,
.btn-modalButton.disabled:focus,
.btn-modalButton[disabled]:focus,
fieldset[disabled] .btn-modalButton:focus,
.btn-modalButton.disabled:active,
.btn-modalButton[disabled]:active,
fieldset[disabled] .btn-modalButton:active,
.btn-modalButton.disabled.active,
.btn-modalButton[disabled].active,
fieldset[disabled] .btn-modalButton.active {
    background-color: $white;
    border-color: $white;
}

.btn-modalButton .badge {
    color: $white;
    background-color: $secondaryColor;
}

/* ---------------------------------------------------- */
.souseFooter,
.addPostButton {
    text-align: center;
}

.form-control-plaintext {
    outline: none;
}

/* ---------------------------------------------------- */

// Media Queries
/* ---------------------------------------------------- */

/* Small devices (Phones, 768px) */
@media (max-width: 896px) and (orientation: portrait) {
    .sousePostImage {
        object-fit: cover;
        width: 108vw;
        height: 87vw;
    }

    .souseUserIconComments {
        width: 10vw;
        height: 10vw;
    }

    .souseUserIconPost {
        width: 21vw;
        height: 21vw;
    }

    .postSection,
    .sousePostImageColumn,
    .sousePostUserDataColumn,
    .souseCommentsColumn {
        padding: 0;
    }

    .sousePostImage {
        padding-bottom: 0.5rem;
    }

    .souseUserImageColumn {
        padding-right: 0;
    }

    .souseEditPostButton {
        padding-left: 1rem;
        padding-top: 1.5rem;
    }

    .commentTime {
        padding-left: 1.5rem;
    }

    .commentEdit {
        padding-left: 0.5rem;
    }

    .pre-scrollable {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden !important;
    }

    div.comboImage {
        position: absolute;
        top: 7.5rem;
        left: 0rem;
    }

    div.comboImage.bottomRowOfCardBackground {
        position: absolute;
        top: 29rem;
        left: 0rem;
        background: rgba($primaryColorAlt, 1);
        border: none;
    }

    div.comboImage.bottomRowOfCard {
        position: absolute;
        top: 27rem;
        left: 0rem;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba($black, 0) 0%, rgba($primaryColorAlt, 1) 92%);
        border: none;
    }

    div.comboImage.bottomRowOfCardContent {
        position: absolute;
        top: 29rem;
        left: 0rem;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba($black, 0) 41%, rgba($primaryColorAlt, 1) 80%, rgba($primaryColorAlt, 1) 58%);
        border: none;
    }

    .bottomRowOfCardBackground {
        width: 104vw;
        height: 14vw;
        z-index: 1;
        border-radius: 0 !important;
        -webkit-box-shadow: 6px 6px 10px -8px $black;
        -moz-box-shadow: 6px 6px 10px -8px $black;
        box-shadow: 6px 6px 10px -8px $black;
    }

    .colorOverlay {
        object-fit: cover;
        width: 104vw;
        height: 77vw;
        border-bottom: none;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba($black, 0) 60%, $primaryColorAlt 100%);
        z-index: 2;
        border-radius: 0 !important;
    }

    .bottomRowOfCard {
        width: 104vw;
        z-index: 3;
        border-radius: 0 !important;
    }

    .bottomRowOfCardContent {
        width: 104vw;
        z-index: 4;
        border-radius: 0 !important;
    }

    .bottomRowOfCardContentRow {
        padding-bottom: 0;
    }

    div.comboImage.customUnderline {
        position: absolute;
        top: 2.65rem;
    }

    .customUnderline {
        width: 7rem;
        height: 0.15rem;
        z-index: 5;
        background: $white;
    }

    div.comboImage.sousePostUserDataColumn {
        position: absolute;
        top: 19rem;
        left: 0rem;
    }

    .sousePostUserDataColumn {
        z-index: 6;
    }

    .thumbnail {
        position: relative;
        width: 100vw;
        height: 102vw;
        overflow: hidden;
    }

    .thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .thumbnail img.portrait {
        width: 100%;
        height: auto;
    }

    .souseBottomHalf {
        padding-top: 4.2rem;
    }

    .souseCommentsLinkFont {
        font-weight: 800;
        padding-top: 1.5rem;
        padding-bottom: 3rem;

    }
    
    .pre-scrollable.postScroll {
        max-height: 144px;
    }

}

@media (max-width: 896px) and (orientation: landscape) {
    .sousePostImage {
        object-fit: cover;
        width: 108vw;
        height: 87vw;
    }

    .souseUserIconComments {
        width: 10vw;
        height: 10vw;
    }

    .souseUserIconPost {
        width: 21vw;
        height: 21vw;
    }

    .postSection,
    .sousePostImageColumn,
    .sousePostUserDataColumn,
    .souseCommentsColumn {
        padding: 0;
    }

    .sousePostImage {
        padding-bottom: 0.5rem;
    }

    .souseUserImageColumn {
        padding-right: 0;
    }

    .souseEditPostButton {
        padding-left: 1rem;
        padding-top: 1.5rem;
    }

    .commentTime {
        padding-left: 1.5rem;
    }

    .commentEdit {
        padding-left: 0.5rem;
    }

    .pre-scrollable {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden !important;
    }

    div.comboImage {
        position: absolute;
        top: 2rem;
        left: 0rem;
    }

    div.comboImage.bottomRowOfCardBackground {
        position: absolute;
        top: 31rem;
        left: 0rem;
        background: rgba($primaryColorAlt, 1);
        border: none;
    }


    div.comboImage.bottomRowOfCard {
        position: absolute;
        top: 24rem;
        left: 0rem;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba($black, 0) 0%, rgba($primaryColorAlt, 1) 92%);
        border: none;
    }

    div.comboImage.bottomRowOfCardContent {
        position: absolute;
        top: 29.5rem;
        left: 0rem;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba($black, 0) 41%, rgba($primaryColorAlt, 1) 80%, rgba($primaryColorAlt, 1) 58%);
        border: none;
    }

    .bottomRowOfCardBackground {
        width: 51.7vw;
        height: 10vw;
        z-index: 1;
        border-radius: 0 !important;
        -webkit-box-shadow: 6px 6px 10px -8px $black;
        -moz-box-shadow: 6px 6px 10px -8px $black;
        box-shadow: 6px 6px 10px -8px $black;
    }

    .colorOverlay {
        object-fit: cover;
        width: 51.7vw;
        height: 39vw;
        border-bottom: none;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba($black, 0) 60%, $primaryColorAlt 100%);
        z-index: 2;
        border-radius: 0 !important;
    }

    .bottomRowOfCard {
        width: 104vw;
        z-index: 3;
        border-radius: 0 !important;
    }

    .bottomRowOfCardContent {
        width: 104vw;
        z-index: 4;
        border-radius: 0 !important;
    }

    .bottomRowOfCardContentRow {
        padding-bottom: 0;
    }

    div.comboImage.customUnderline {
        position: absolute;
        top: 2.65rem;
    }

    .customUnderline {
        width: 7rem;
        height: 0.15rem;
        z-index: 5;
        background: $white;
    }

    div.comboImage.sousePostUserDataColumn {
        position: absolute;
        top: 19rem;
        left: 0rem;
    }

    .sousePostUserDataColumn {
        z-index: 6;
    }

    .thumbnail {
        position: relative;
        width: 50vw;
        height: 42vw;
        overflow: hidden;
    }

    .thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .thumbnail img.portrait {
        width: 100%;
        height: auto;
    }

    .souseCommentsLinkFont {
        font-weight: 800;
        padding-top: 1.5rem;
        padding-bottom: 6rem;
    }

    .pre-scrollable.postScroll {
        max-height: 144px;
    }
}


/* ---------------------------------------------------- */

/* IPhone X and Pixel XL 2 */

@media (min-width: 812px) and (max-width: 823px) and (orientation: portrait) {
    .sousePostImage {
        object-fit: cover;
        width: 20vw;
        height: 20vw;
    }
}

@media (min-width: 812px) and (max-width: 823px) and (orientation: landscape) {
    .sousePostImage {
        object-fit: cover;
        width: 25vw;
        height: 25vw;
    }
}

/* ---------------------------------------------------- */

/* Ipad */

@media (min-width: 768px) and (max-width: 811px) and (orientation: portrait) {}

@media (min-width: 824px) and (max-width: 1024px) and (orientation: landscape) {}

/* Ipad Pro */

@media (min-width: 813px) and (max-width: 1024px) and (orientation: portrait) {}

@media (min-width: 1025px) and (max-width: 1439px) and (orientation: landscape) {}

/* ---------------------------------------------------- */

/* MDPI Screens (Computers, 1440px and up) */

@media (min-width: 1280px) and (max-width: 1280px) and (orientation: landscape) {}

/* ---------------------------------------------------- */

/* Large devices (Computers, 1440px and up) */

@media (min-width: 1440px) and (orientation: landscape) {}

/* ---------------------------------------------------- */